* {
    bg0:    #EDAFB6;
    bg1:    #FFFFFF;
    bg2:    #3D3D3D80;
    bg3:    #FF7BACF2;
    fg0:    #FFFFFF;
    fg1:    #FFFFFF;
    fg2:    #EDAFB6;
    fg3:    #EDAFB6;
    defaultFont: "Neuborn Medium Italic 15";
}

@import "rounded-common.rasi"
